/*
 * -----------------------
 *  Nextflow config file
 * -----------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

    /*
    *  pipeline input parameters
    */
    vcf = null
    ref_assembly = null
    outdir = null
    eagle_ref_panel = null
    token = null
    imputation_job_dir = null
    max_memory = 10.GB
    max_cpus = 4
    max_time = 240.h
    help = false

}

executor {
  $local {
      cpus = 4
      memory = '15 GB'
  }
}

process {
    withLabel: big_mem {
        memory = 7.GB
    }
}

nextflowVersion = '>=21.04.0'
